{% extends "questions/base.html" %}
{% load static %}
{% block body_block %}

<section class="hero_section ">
    <div class="hero-container container">
        <div class="hero_detail-box">
            <h1>
                Best place to
                Learn Python
            </h1>
            <p>
                Pyshikho is a python learning platform where you find many problems to learn. So lets Learn Python on
                Pyshikho...
            </p>
            <div class="hero_btn-continer">
                <a href="/questions/" class="call_to-btn btn_white-border btn-cyan">
                    Get Start
                </a>
            </div>
        </div>
        <div class="hero_img-container">
            <div>
                <img src="{% static 'images/python3.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
</div>
<section>
    <div class="container" style="border-radius: 100px;">
        <form id="search-form">
            <div class="input-group">
                <input type="text" id="input" class="form-control" name="q"
                    placeholder="Type and press enter to search more problems ..." aria-label="Search ..."
                    aria-describedby="basic-addon2" required>
            </div>
        </form>
        <table class="table table-sm text-white table-borderless mt-3" width="100%">
            <tbody id="search-results">
            </tbody>
        </table>
    </div>
    <div class="container">
        <h5 class="badge bg-success text-white"> Top 20 visited problems ...</h5>
        <ol class="text-white">
            {% if top_searches %}
            {% for question in top_searches %}
            <li><a class="text-white" href="/try/{{ question.id }}/">{{ question.title }}</a></td>
                {% endfor %}
                {% endif %}
        </ol>
    </div>
</section>

{% endblock %}

{% block script_block %}
<script>
    $(function () {
      $('#input').on("keyup change", function (event) {
        event.preventDefault();
        var query = $('input[name="q"]').val();
        if(query.trim().length >0 ){
        $.ajax({
          url: '/search',
          data: {
            q: query
          },
          success: function (response) {
            var results = response.results;
            var html = '';
            if (results.length == 0) {
              html +=
                '<tr><td width="%" class=" bg-white text-center"><a class="text-danger" target="_blank" href="#"> Oops! No Result found !!! Try search with different keywords like: addition, summation or print </a></td></tr>';
            } else {
              html +=
                '<tr><td width="%" class=" "><span class="badge bg-success" target="_blank" href="#"> Search results ... </span></td></tr>';
              for (var i = 0; i < results.length; i++) {
                html += '<tr><td width="%"><a class="text-white" target="_blank" href="/try/' + results[i]
                  .id + '">' + results[i].title + '</a> </tr>';
                  
              }
            }
            $('#search-results').html(html);
          }
        });}
      });
    });
  </script>
{% endblock %}