{% extends "questions/base.html" %}
{% load static %}
{% block menu_block %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/"> Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about/"> About </a>
</li>
<li class="nav-item show active">
  <a class="nav-link" href="/learn-python/">Learn Python </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/practice-python/">Practice Python </a>
</li>
{% endblock %}
{% block body_block %}
<section class="hero_section">
    <div class="hero-container">
      <div class="try-container container" style="padding: initial;">
        <div class="d-flex">
          <div class="nav nav-pills d-flex scrollspy-example col-4" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
            <div class="sidebar">
              <ul id="sidebar-list" >
                {% for question in question_list %}
                  <li class="nav-link  {%if question.id == 1%}{{ 'active' }}{%endif%}" data_id="{{ question.id }}">
                    <a data_id="{{ question.id }}" href="#{{ question.slug }}"  class="m-0 p-0 text-dark">{{ question.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="tab-content col-8 p-0 m-0" >
            
            {% if question_list %}
            {% for question in question_list %}
            <div class="tab-pane fade show {%if question.id == 1%}{{ 'active' }}{%endif%}" id="v-pills-{{question.id}}" role="tabpanel" aria-labelledby="v-pills-{{question.id}}-tab">
                <div class="card p-0 m-0 card-scroll">
                  <div class="card-header d-flex bg-none">
                    <div class="col-12 px-0">
                      <h4 id="title-placeholder"></h4>
                    </div>
                  </div>
                  <div class="card-body" style="overflow-y: scroll;">
                      <p id="details-placeholder"></p>
                  </div>
                  <div class="card-footer d-flex justify-content-between">
                    
                    <button class="btn btn-sm btn-success" id="previous-button">Previous</button>
                    <button class="btn btn-sm btn-success" id="next-button">Next</button>
                  </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</section>
  
</div>

{% endblock %}

{% block script_block %}
{% if id == 0 %}
<script type="text/javascript" src="{% static 'js/learn.js'%}"></script>
{% else %}

<script type="text/javascript">

"use strict";

// Get references to DOM elements
const sidebarList = document.getElementById("sidebar-list");

const titlePlaceholder = document.getElementById("title-placeholder");
const detailsPlaceholder = document.getElementById("details-placeholder");

const previousButton = document.getElementById("previous-button");
const nextButton = document.getElementById("next-button");
const tryButton = document.getElementById("try-button");

// Set initial state
var id = JSON.parse("{{id}}");
let currentItemIndex = 0;
if(id > 0){
  currentItemIndex = id-1;
}
let preItemIndex = 0;
let nextItemIndex = 0;

//initial list activation
activate(currentItemIndex);

function activate(index) {
  // Get the list item at the specified index
  const currentItem = sidebarList.getElementsByTagName("li")[index];

  // Clear the title placeholder
  titlePlaceholder.innerHTML = "";
  detailsPlaceholder.innerHTML = "";

  let activeList = $("#sidebar-list").find("li.active");
  for (var i = 0; i < activeList.length; i++) {
    activeList[i].classList.remove("active");
  }
  currentItem.classList.add("active");

  // Show the title in the placeholder
  const title = currentItem.innerHTML;
  titlePlaceholder.innerHTML = title;

  //access details data
  $.ajax({
    url: "/learn/" + currentItem.getAttribute("data_id"),
    
    success: function (response) {
      var learn = response.result;
      // console.log( response);
      detailsPlaceholder.innerHTML = learn.description;
    }
  });

  // Disable/enable buttons based on the current index
  previousButton.disabled = index === 0;
  nextButton.disabled = index === sidebarList.children.length - 1;

  $("li.active").animate({ scrollTop: 0 }, "slow");
}

//list item access on click
$("#sidebar-list").on("click", (e) => {
  currentItemIndex = e.target.getAttribute("data_id");
  currentItemIndex--;
  activate(currentItemIndex);
});

//previous button
previousButton.addEventListener("click", () => {
  if (currentItemIndex > 0) {
    let activeList = $("#sidebar-list").find("li.active");
    preItemIndex = activeList[0].getAttribute("data_id");
    currentItemIndex = preItemIndex-2;
  }else{
    currentItemIndex--;
  }
  activate(currentItemIndex);
});

//next button
nextButton.addEventListener("click", () => {
  let activeList = $("#sidebar-list").find("li.active");
  nextItemIndex = activeList[0].getAttribute("data_id");
  currentItemIndex++;
  activate(currentItemIndex);
});
</script>
<!-- {% endif %} -->
{% endblock %}