{% extends "questions/base.html" %}
{% load static %}
{% block menu_block %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/"> Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about/"> About </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/learn-python/">Learn Python </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/practice-python/">Practice Python </a>
</li>
<li class="nav-item  show active">
  <a class="nav-link" href="#">Try It</a>
</li>
{% endblock %}
{% block body_block %}
<section class="hero_section ">
  <div class="container mt-5">
      <div class="card">
          <div class="card-body">
              <div class="row">

                  <div class="col-6">
                      <form method="post" action="/result/{{ question.id }}">
                          {% csrf_token %}
                          <div class="">
                              {% if text != null %}
                              <textarea type="text" class="form-control bg-dark text-light" id="text" name="text"
                                  rows="15" aria-describedby=""
                                  placeholder="#Write Python code here" required>{{ text }}</textarea>
                              {% else %}
                              <textarea type="text" class="form-control bg-dark text-light" id="text" name="text"
                                  rows="15" aria-describedby=""
                                  placeholder="#Write Python code here" required>{{ question.solution | safe }}</textarea>
                              {% endif %} 
                          </div>
                          <div class="">
                              <h3 class="mb-1 pb-0">User inputs</h3>
                              <span class="text-danger">Enter each input on a separate line</span>
                              <textarea type="text" class="form-control bg-dark text-light" id="user_input" name="user_input"
                                  rows="3" aria-describedby="" {% if question.is_input_required == 1 %} {{ 'required' }} {% else %} {{ 'readonly' }} {% endif %}
                                  placeholder="">{{ user_input }}</textarea>
                          </div>
                          <div class="text-end mt-3">
                              <button type="submit" class="btn btn-block btn-success">Run</button>
                          </div>
                      </form>
                  </div>
                  <div class="col-6" >
                      <div class="alert bg-dark text-white  output">
                        <p class="p-0 m-0 text-white ">
                          {{ result | safe  }}
                        </p>  
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
</div>
{% endblock %}

{% block script_block %}
  <script type="text/javascript">
    data = {{ question.description | safe }};
    $(function(){
    $(document).on('load',function(){
        $('#text').html($('textarea').val(data));
        return false;
    });
})
  </script>
 {% endblock %}
